# $include /etc/inputrc
$include ~/repos/dotfiles/readline/.input.readline
$include ~/repos/dotfiles/readline/.normal.readline
$include ~/repos/dotfiles/readline/.options.readline
$include ~/repos/dotfiles/readline/.surrund.readline
